body {
    margin: 0;
    background-color: #e200f7;
    font-family: Arial, sans-serif;
}

.magia {
    text-align: center;
    position: relative;
}

.magia h1 {
    font-size: 2rem; /* Letras grandes */
    font-weight: 900; /* Letras gorditas */
    color: #ffffff;
    text-shadow: 0 0 3px #ffffff, 0 0 20px #f1e049, 0 0 30px #ff00ff;
    margin: 0;
    position: relative;
}



@keyframes explode {
    0% {
        opacity: 0;
        transform: scale(0.5) rotate(0deg) translateY(0);
        letter-spacing: 0;
    }
    50% {
        opacity: 1;
        transform: scale(1.2) rotate(10deg) translateY(-10px);
        letter-spacing: 0.5rem;
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg) translateY(0);
        letter-spacing: normal;
    }
}

.magia::before, .magia::after {
    content: '✨';
    font-size: 3rem;
    position: absolute;
    color: #ffdf00; /* Color dorado para las estrellas */
    animation: sparkleExplosion 3s ease-in-out infinite;
}

.magia::before {
    top: 50px;
    left: 50px;
    animation-delay: 0.2s;
}

.magia::after {
    bottom: 50px;
    right: 50px;
    animation-delay: 0.5s;
}

@keyframes sparkleExplosion {
    0% {
        opacity: 0;
        transform: scale(1) translateX(0) translateY(0);
    }
    50% {
        opacity: 1;
        transform: scale(1.5) translateX(10px) translateY(-10px);
    }
    100% {
        opacity: 0;
        transform: scale(2) translateX(-20px) translateY(20px);
    }
}


.container {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: auto;
    background-color: #e200f7;
    font-family: Arial, sans-serif;
    margin: 0;
    flex-direction: column;
    padding: 20px;
}
.container{
    gap: 10px;
}

.Tada {
    display: flex;
    text-align: center;
    width: 100%;
    background-color: #e200f7;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    height: auto; /* Asegúrate de que se ajuste al contenido */
    max-width: 400px; /* Define un ancho máximo */
    gap: 20px;
}

.Tada button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #0051ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem; /* Letras grandes */
    font-weight: 900; /* Letras gorditas */
}

.Tada button:hover {
    background-color: #16ecff;
}

.Tada button:active {
    background-color: #004085;
    transform: scale(0.95);
}
