.contaiCerveza {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Espacio entre los elementos */
    flex-direction: column;
    text-align: center;
    background-color: rgba(124, 64, 246, 0.962);
    min-height: 100vh;
    height: auto;
    padding-top: 60px;
  }
  
  .cerveza-item {
     justify-items: center;
     height: auto;
  }

 
  .cerveza-info2 img {
    width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: 150px;
    background-color: aliceblue;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
  }
  
  .cerveza-info{
    width: 50%;
    background-color: rgb(0, 0, 0);
    color: #ffff;
  }

  .cerveza-info2{
    width: 50%;
    height: 150px;
    background-color: aliceblue;
  }
  
  